[submodule "assets/js/libs/requirejs"]
	path = assets/js/libs/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "assets/lib/bootstrap"]
	path = assets/lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
