[submodule "assets/js/src/libs/requirejs"]
	path = assets/js/src/libs/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "assets/js/src/libs/sinon"]
	path = assets/js/src/libs/sinon
	url = git://github.com/cjohansen/Sinon.JS.git
