.tiled-answers {
  list-style-type: none;
  width: 200px; }
  .tiled-answers li {
    position: absolute;
    color: white;
    font-size: 24px;
    line-height: 32px; }
    .tiled-answers li article {
      display: inline; }
  .tiled-answers .meta {
    display: none; }
  .tiled-answers li.red {
    background-color: red; }
  .tiled-answers li.green {
    background-color: green; }
  .tiled-answers li.blue {
    background-color: blue; }
  .tiled-answers li.pink {
    background-color: pink; }
  .tiled-answers li.yellow {
    background-color: yellow; }

#tilemap {
  position: relative; }

.tiled-answers {
  position: absolute;
  z-index: 10;
  margin: 0;
  top: 199px;
  left: 0; }
