.tiled-answers {
	list-style-type: none;
	width: 200px;
	
	li {
		position: absolute;		
		color: white;
		font-size: 24px;
		line-height: 32px;
		
		article {
			display: inline;
		}
	}
	
	.meta {
		display: none;
	}
	
	li.red {
		background-color: red;
	}
	
	li.green {
		background-color: green;
	}
	
	li.blue {
		background-color: blue;
	}
	
	li.pink {
		background-color: pink;
	}
	
	li.yellow {
		background-color: yellow;
	}
}

#tilemap {
	position: relative;
}

.tiled-answers {
	position: absolute;
	z-index:10;
	margin: 0;
	top:199px;
	left: 0;
}